.gallery {
	margin: 40px auto;
	background-color: white;
	max-width: 1200px;
	padding: 40px;
	box-shadow: 5px 5px 2px;
	text-align: center;
}

.gallery h2 {
	margin-top: 40px;
}

.gallery-img {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.gallery-img img {
	margin: 20px;
}

.headshots img {
	height: 450px;
	width: 300px;
}

.prod-photos img {
	width:450px;
	height: 300px;
}

.img-wrap {
	position: relative;
}


.img-wrap span {
	display: none;
	position: absolute;
	bottom: 20px;
	width: 100%;
	padding: 10px;
	background: rgba(255,255,255,.8);
	transition: all 0.5s;
}

.img-wrap:hover span {
  display: block
}