body {
	background: grey;
}

h1{
	margin-top: 50px;
	font-size: 3.5em;
	letter-spacing: 1.1rem;
	color: black;
}

.navbar {
	background: black;
}

.navbar-brand {
	font-size: 1.5em;
}

.navbar-collapse .navbar-nav > li > a:hover, .navbar-collapse .navbar-nav > li > a:focus {
    color: red;
}

.raleway {
	font-family: Raleway, sans-serif;
}

.nav-link:hover {
	color: red !important; 
}

#page-contents {
	padding: 20px 0;
}

.post {
	margin: 40px auto;
	background-color: white;
	max-width: 800px;
	padding: 3em;
	box-shadow: 5px 5px 2px;
	text-align: justify;
}

.post h2 {
	text-align: center;
}

.post-img {
	text-align: center;
	font-style: italic;
}

.post-img img {
	max-width: 80%;
	height: auto;
}

.post h6 {
	text-align: right;
	font-style: italic;
}
